.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 10px;
  }
  
  .mat-slider-horizontal {
    width: 250px;
    max-width:96%
  }
  
  .mat-slider-vertical {
    height: 300px;
  }

  .mat-card {
    padding:0px !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}